* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    line-height: 2;
    background-color: #212121; 
    color: white;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 800px; 
    margin: 0 auto; 
}

.profile-card {
    background-color: #0F0F0F; 
    padding: 40px;           
    border-radius: 20px;    
    box-shadow: 0 10px 30px rgba(0,0,0,0.1); 
    margin-bottom: 20px;    
    border: 1px solid #e1e4e8;
}

h1, h2, h3 {
    color: gold;
    margin-bottom: 15px;
}

h1#name {
    text-align: center;
    font-size: 2.5rem;
    color: gold;    
    margin-bottom: 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.nav-list a:hover, .social-link:hover {
    background-color: gold;
    color: white;
    transform: translateY(-2px);
}

.social-link {
    color: #2563eb;
    text-decoration: none;
    font-weight: bold;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    display: block;
    margin: 0 auto 20px auto;
}

.skills-container {
    display: flex;       
    flex-wrap: wrap;     
    gap: 15px;         
    margin-top: 15px;
}

.skill-badge {
    background-color: #212121;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    color: white;
    border-left: 5px solid gold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    flex: 1 1 100%;
    text-align: center;
}

.level {
    display: block;
    font-size: 0.8rem;
    color: white;
    font-weight: normal;
}

.contact-form input, 
.contact-form select, 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
}

.contact-form button {
    background-color: gold;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

.contact-form button:hover {
    background-color: gold;
}

@media (max-width: 768px) {
    
    body {
        padding: 10px;
    }

    .profile-card {
        padding: 20px; 
    }

    h1#name {
        font-size: 2rem;
    }

    .nav-list {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }

    .avatar {
        width: 120px;
        height: 120px;
    }

    .skills-container {
        justify-content: center;
    }
}